button {
  background-color :#4056A1;
  color: #FFFFFF;
}

.bottom-form {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive, sans-serif;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: #f4f1ec;
  border: none;
  outline: none;
  border-bottom: 4px solid #545149;
  padding: 10px;
  resize: none;
}

.error-message p {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  /* visibility: hidden; */
}