.tweets {
  /* display: flex; */
  background-color: #f4f1ec;
  border: 4px solid #545149;
  margin-top: 16px;
  margin-bottom:16px;
}

.tweet-header {
  display: flex;
  /* justify-content: space-between; */
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5px;
  font-size: 24px;
  margin-left: 20px;
  margin-right:20px;
}

.full-name {
  display:flex;
  flex-basis: 90%;
  margin-left: 10px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  margin-left: 20px;
  padding-bottom: 10px;
}

img {
margin-top: 10px;
}

.tweet-body {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 4px solid #545149;
  font-size: 20px;
  margin-left:10px;
  margin-right:10px;
}

.tweets:hover {
  box-shadow: 10px 10px #D0D0D0;
}

.username {
  display:flex;
  visibility: hidden;
}

.tweets:hover .username {
  visibility: visible;
  color: #D0D0D0
}
